<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
       <h1 class="logo me-auto me-lg-0"><a href="">Pub Angular</a></h1>
       <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
             <li><a class="nav-link scrollto active" routerLink="/home">Home</a></li>
             <li><a class="nav-link scrollto" href="/home">Menu</a></li>
             <li class="dropdown">
               <a href=""><span>Funcionários</span> <i class="bi bi-chevron-down"></i></a>
               <ul>
                  <li><a routerLink="/employees/new">Adicionar Funcionario</a></li>
                  <li><a routerLink="/employees">Todos Funcionários</a></li>
               </ul>
            </li>
             <li class="dropdown">
               <a href="/home"><span>Eventos</span> <i class="bi bi-chevron-down"></i></a>
               <ul>
                  <li><a routerLink="/events/new">Adicionar Evento</a></li>
                  <li><a routerLink="/events/">Todos Eventos</a></li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="/home"><span>Fornecedores</span> <i class="bi bi-chevron-down"></i></a>
               <ul>
                  <li><a routerLink="/suppliers/new">Adicionar Fornecedor</a></li>
                  <li><a routerLink="/suppliers">Todos Fornecedores</a></li>
               </ul>
            </li>
             <li class="dropdown">
                <a href="/home"><span>Bebidas</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                   <li><a routerLink="/drinks/new">Adicionar Bebida</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a href="/home"><span>Comidas</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                   <li><a routerLink="/foods/new">Adicionar Comida</a></li>
                </ul>
             </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
       </nav>
    </div>
  </header>