<section id="about" class="about">
   <div class="container" data-aos="fade-up">
      <div class="row">
         <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img"> <img src="assets/img/about.jpg" alt=""></div>
         </div>
         <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="fst-italic"> Nosso pub proporciona um ambiente descontraído para acolher as pessoas!</p>
            </div>
      </div>
   </div>
</section>
<section id="menu" class="menu section-bg">
   <app-menu></app-menu>
</section>
<section id="testimonials" class="testimonials section-bg">
   <app-event-pub></app-event-pub>
</section>
